/*static\style.css/
/*Сохранить в буффер*/
QCheckBox#buffer_button::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    /*border: 5px solid #020202;*/
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#buffer_button::indicator {
  background-image: url(static/icon/copy.png); 
  width: 40px; 
  height: 40px; 
}

QCheckBox#buffer_button::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}



/*Сохранить на пк*/
QCheckBox#save_button::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    /*border: 5px solid #020202;*/
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#save_button::indicator {
  background-image: url(static/icon/floppy-disk.png); 
  width: 40px; 
  height: 40px; 
}

QCheckBox#save_button::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}


/* Кнопка ручка*/
QCheckBox#Pen_button::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#Pen_button::indicator {
  background-image: url(static/icon/pencil.png); 
  width: 40px; 
  height: 40px; 
}

/* При наведении изменяем фон индикатора */
QCheckBox#Pen_button::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}


/* Кнопка марекр*/
QCheckBox#marker_button::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#marker_button::indicator {
  background-image: url(static/icon/lighter.png); 
  width: 40px; 
  height: 40px; 
}

/* При наведении изменяем фон индикатора */
QCheckBox#marker_button::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}


/* Кнопка корзина*/
QCheckBox#clear::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#clear::indicator {
  background-image: url(static/icon/trash.png); 
  width: 40px; 
  height: 40px; 
}

/* При наведении изменяем фон индикатора */
QCheckBox#clear::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}


/* Кнопка движения */
QCheckBox#move_button::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#move_button::indicator {
  background-image: url(static/icon/arrows-out-cardinal.png); 
  width: 40px; 
  height: 40px; 
}

/* При наведении изменяем фон индикатора */
QCheckBox#move_button::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}

/* кнопка веперед */
QCheckBox#next::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#next::indicator {
  background-image: url(static/icon/skip_next.png); 
  width: 40px; 
  height: 40px; 
}

/* При наведении изменяем фон индикатора */
QCheckBox#next::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}


/* кнопка назад*/
QCheckBox#prev::indicator {
    width: 40px;   /* Ширина индикатора */
    height: 40px;  /* Высота индикатора */
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

QCheckBox#prev::indicator {
  background-image: url(static/icon/skip_previous.png); 
  width: 40px; 
  height: 40px; 
}

/* При наведении изменяем фон индикатора */
QCheckBox#prev::indicator:hover {
    background-color: rgb(116, 116, 116);  /* Светло-серый фон при наведении */
}